name: Mirror to external repo

on:
  push:
    branches:
      - "**"
  delete:
  create:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to target repo
        run: |
          git remote add mirror https://x-access-token:${{ secrets.TARGET_REPO_TOKEN }}@github.com/coolmeet123/Makeup-Hair-Styling-Website.git
          git push --mirror mirror
